*~

# Terraform
terraform.tfstate
terraform.tfstate.backup
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform/
.terraform.lock.hcl

# Built binary
server

# Certificates
certs/*.key
certs/*.csr
certs/ca.srl